body {
    background-color: #EEE;
    padding-top: 14px;
    padding-left: 12px;
    padding-right: 8px;
    padding-bottom: 25px;
}

    body header h1 {
        font-weight: lighter;
        font-size: 1.5em;
        font-family: Arial;
        letter-spacing: -2px;
    }

section {
    border-style: solid;
    border-color: #989898;
    border-width: 2px;
    padding: 15px;
    margin: 35px 0px;
}

    section img {
        float: left;
    }

        section img:after {
            clear: both;
        }
