body {
    width: 410px;
    background-color: #EEE;
    padding-top: 14px;
    padding-left: 12px;
    padding-right: 8px;
    padding-bottom: 25px;
}

    body header h1 {
        font-weight: lighter;
        font-size: 1.5em;
        font-family: Arial;
        letter-spacing: -2px;
    }

section {
    border-style: solid;
    border-color: #989898;
    border-width: 2px;
    background-color: #FFF;
    padding: 15px;
    margin: 35px 0px;
    overflow: hidden;
}

    section img {
        float: left;
        margin-right: 15px;
    }

    section input[type="button"] {
        float: right;
        background-image: url(listen.png);
        color: white;
        height: 25px;
    }

    section p {
        margin: 0;
        margin-bottom: 15px;
    }

        section p span {
            font-weight: bold;
        }
