* {
    margin: 0;
    padding: 0;
}

#logo, #ul-head li, #lang li {
    zoom: 1;
}

    #logo:after, #ul-head:after, #lang li:after {
        content: "";
        display: block;
        clear: both;
    }

body {
    font-size: 25pt;
    font-family: 'Myriad Pro';
    color: black;
}

#wrapper {
    max-width: 954px;
    margin: auto;
}

#head {
    margin-bottom: 30px;
    height:100px;
}
#head nav{
    padding-top:35px;
    padding-left:20.9%;
    padding-right:7.3%;


    
}

#logo {
    float: left;
}

#ul-head li, #lang li {
    float: right;
    list-style-type: none;
    margin-left: 3.14%;
    color: black;
}

    #lang li:first-child {
        margin-left: 0;
    }

        #lang li:first-child:before {
            content: "/";
            font-size: 0.68em;
            color:#b5b5b5;
            margin: 3px;
        }

#ul-head a, #lang a {
    text-decoration: none;
    font-size: 0.68em;
    color: black;
}

    #ul-head a:hover,#ul-head a:active {
        border-top: 3px solid red;
        padding-top: 12px;
        color: #dd0e00;
    }
    #lang a:hover,#lang a:active{
        color:#dd0e00;
    }
